@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Grobold";
  src: url("../public/fonts/GROBOLD.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.font-grobold {
  font-family: "Grobold", Arial, Helvetica, sans-serif;
}

.font-comic {
  font-family: "Comic Neue", cursive;
}
